svg {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

svg path {
  fill:#08c1ab;
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 3;
  stroke-dasharray: 203.6257781982422;
  stroke-dashoffset: 203.6257781982422;
  animation: draw 5s forwards linear 1 2s;
}

@keyframes draw {
   0% {
    stroke-dashoffset: 203.6257781982422;
    fill-opacity:0;
  }

  94% {
    fill-opacity:0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity:1;
  }
}
